body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;

    font-style: 15px;
    line-height: 1.6;
    color: #333;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
   /* background: url(../images/intro5.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: 100% 100%;*/
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

/*.intro__title {
    color: #333;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__title2 {
    margin-top: 30px;
    color: #333;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}*/

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #BFE2FF;
    /*color: #333;*/
}

/* Nav */
.nav {
    font-style: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    position: relative;

    /*color: #333;*/
    color: #BFE2FF;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover::after {
    opacity: 1;
}

/*Слайдшоу*/
.slideshow {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #000;
    margin: 0 auto;
}
.slideshow-item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slideanim 40s infinite;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
    animation-delay: 30s;
}
.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 40s infinite;
}
.slideshow-item-text {
    max-width: 100%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    padding: 300px 500px;
    text-align: center;
   /* font-family: Verdana, sans-serif;  */    
}
.slideshow-item-text h5 {
    font-size: 70px;
    margin: 0 0 10px 0;
    color: #BFE2FF;
}
.slideshow-item-text p {
    font-size: 20px;
    word-spacing: 10px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 8px;
}

.btn {
    display: inline-block;
    vertical-align: top;

    padding: 8px 30px;
    border-radius: 10px;

    border: 3px solid #BFE2FF;
    font-size: 14px;
    font-weight: 700;
    color: #BFE2FF; 
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;

}

.btn:hover {
    background-color: #fff;
    color: #333;  
}
@keyframes slideanim {
    12.5%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }   
    37.5%{
        opacity: 0;
    }
}
@keyframes zoom {
    50%{
        transform: scale(1.3);
    }   
}
@media screen and (max-width: 1100px){
    .slideshow-item-text{
        max-width: 75%;
    }
}
@media screen and (max-width: 456px){
    .slideshow-item-text {
        bottom: 0;
        left: 0;
        max-width: 100%;
    }
    .slideshow-item-text h5 {
        font-size: 18px;
    }
    .slideshow-item-text p {
        font-size: 13px;
    }
}

/* Section */

.section {
    text-align: center;
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    text-align: center;
    margin-bottom: 0 auto 40px;
}

.section__suptitle {
    font-family: cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
} 

.section__text {
    font-size: 15px;
    color: #999;
}

/* About */

.about {
    display: flex;
    justify-content: space-between;

}

.about__item {
    width: 30%;
}

